<ul>
    <li><strong><a href="{{ path('ficha_contacto', {'contacto':contacto,'codigo': contacto.id}) }}">{{ contacto.nombre }}</a></strong></li>
    <li><strong>Teléfono</strong>: {{ contacto.telefono }}</li>
    {% if contacto.provincia.id > 0 %}
        <li><strong>Provincia</strong>: {{ contacto.provincia.nombre }}</li>
    {% endif %}
    <li><strong>E-mail</strong>: {{ contacto.email }}</li>
    {% if contacto.file %}
        <li><img src="{{ asset('images/index/gallery/' ~ contacto.file) }}"/></li>
    {% endif %}
</ul>
